In [27]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import pickle

In [28]:
path = "TATAMOTORS.NS.csv"
df = pd.read_csv(path)
df

,Date,Open,High,Low,Close,Adj_Close,Volume
0,2020-06-17,93.000000,96.400002,91.800003,95.400002,95.400002,110830038.0
1,2020-06-18,95.000000,97.199997,94.150002,96.349998,96.349998,58964344.0
2,2020-06-19,96.500000,103.900002,95.599998,102.500000,102.500000,135462757.0
3,2020-06-22,102.349998,104.900002,101.000000,102.650002,102.650002,68545834.0
4,2020-06-23,103.000000,106.000000,101.900002,104.400002,104.400002,68638552.0
...,...,...,...,...,...,...,...
247,2021-06-11,346.000000,352.899994,344.350006,350.750000,350.750000,36441967.0
248,2021-06-14,350.049988,357.899994,341.100006,355.950012,355.950012,38482142.0
249,2021-06-15,355.750000,360.750000,351.500000,352.700012,352.700012,35526159.0
250,2021-06-16,NaN,NaN,NaN,NaN,NaN,NaN
251,2021-06-17,348.399994,352.899994,343.299988,344.149994,344.149994,22086610.0

In [29]:
avg_open = df.Open.median()
avg_high = df.High.median()
avg_low = df.Low.median()
avg_close = df.Close.median()
avg_adj = df.Adj_Close.median()

In [30]:
df.Open = df.Open.fillna(avg_open)
df.High = df.High.fillna(avg_high)
df.Low = df.Low.fillna(avg_low)
df.Close = df.Close.fillna(avg_close)
df.Adj_Close = df.Adj_Close.fillna(avg_adj)

In [31]:
reg = LinearRegression()
reg.fit(df[["Open", "High", "Low"]], df.Close)

LinearRegression()

In [39]:
reg.predict([[93, 96.400002, 91.800003]])[0]

94.75445021439722

In [36]:
with open('module_pickle', 'wb') as f:
    pickle.dump(reg, f)